In [9]:
from pandas import Series, DataFrame
import pandas as pd
%matplotlib inline
from datetime import datetime

filename = "shortened.csv"

#create sample dataframe 
global_temp_city  = pd.read_csv(filename).dropna()

#format dt column to be a datetime value 
global_temp_city['dt'] =  pd.to_datetime(global_temp_city['dt'])

#how to retrieve month, year from date
#print global_temp_city['dt'][0].date().month
#print global_temp_city['dt'][0].date().year

global_temp_city[:6]

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1743-11-01 00:00:00,6.068,1.737,Århus,Denmark,57.05N,10.33E
5,1744-04-01 00:00:00,5.788,3.624,Århus,Denmark,57.05N,10.33E
6,1744-05-01 00:00:00,10.644,1.283,Århus,Denmark,57.05N,10.33E
7,1744-06-01 00:00:00,14.051,1.347,Århus,Denmark,57.05N,10.33E
8,1744-07-01 00:00:00,16.082,1.396,Århus,Denmark,57.05N,10.33E
10,1744-09-01 00:00:00,12.781,1.454,Århus,Denmark,57.05N,10.33E

In [10]:
#create dictionary to hodl temp for each year

#first create dictionary to hold temp recorded in each country by year 
#yearly_temp= {}

    
#for index, row in global_temp_city.iterrows():
    #year = row['dt'].year
    #if year in yearly_temp:
        #yearly_temp[year].append(row['AverageTemperature'])
    #else:
        #yearly_temp[year]= [row['AverageTemperature']]

#average_yearly_temp = {}

#for keys in yearly_temp:
    #average_temp = sum(yearly_temp[keys])/len(yearly_temp[keys])
    #average_yearly_temp[keys] = average_temp

#print '1743'
#print yearly_temp[1743]
#print average_yearly_temp[1743]

In [11]:
def getYear(datetimeObj):
    return datetimeObj.date().year

In [12]:
def getAvgYear(year):
    return average_yearly_temp[year]

In [13]:
#create new column for year and average temp for each year 
global_temp_city['year']= global_temp_city['dt'].map(getYear)
#global_temp_city['AvgTempYear']= global_temp_city['year'].map(getAvgYear)
global_temp_city[1000:1005]

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude,year
1072,1833-03-01 00:00:00,0.773,2.863,Århus,Denmark,57.05N,10.33E,1833
1073,1833-04-01 00:00:00,4.524,1.848,Århus,Denmark,57.05N,10.33E,1833
1074,1833-05-01 00:00:00,13.180,1.665,Århus,Denmark,57.05N,10.33E,1833
1075,1833-06-01 00:00:00,15.264,2.315,Århus,Denmark,57.05N,10.33E,1833
1076,1833-07-01 00:00:00,16.940,1.661,Århus,Denmark,57.05N,10.33E,1833

In [17]:
yearlyAvgTemps = global_temp_city.groupby('year')['AverageTemperature'].mean()
yearlyAvgTemps

year
1743     7.399889
1744    11.524361
1745     3.797611
1750    10.988646
1751    11.012333
1752     6.523759
1753    10.271735
1754    10.289194
1755     9.810762
1756    10.581116
1757    10.394840
1758     9.258462
1759    10.320955
1760     9.752710
1761    10.674473
1762    10.222469
1763     9.771381
1764    10.726613
1765    10.170168
1766    10.382909
1767     9.978519
1768     9.492614
1769    10.085402
1770     9.985917
1771    10.008962
1772    10.672697
1773    10.515182
1774    10.338092
1775    11.056652
1776    10.146229
          ...
1984    18.828177
1985    18.919726
1986    19.014770
1987    19.294002
1988    19.284148
1989    19.245366
1990    19.523250
1991    19.219430
1992    18.993113
1993    19.038953
1994    19.438882
1995    19.478549
1996    19.143240
1997    19.312695
1998    19.837026
1999    19.664266
2000    19.506680
2001    19.616777
2002    19.766993
2003    19.631782
2004    19.715932
2005    19.566945
2006    19.717029
2007    19.851101
2008    19.620909
2009    19.823199
2010    19.816440
2011    19.570667
2012    19.605116
2013    20.336554
Name: AverageTemperature, dtype: float64

plot(cars['wt'], cars['mpg'], marker='o', color='blue', linestyle='None')
xlabel('Weight')
ylabel('Miles per Gallon')
title('Weight versus Efficiency')
show()